:root {
    --background: #4B5846;
    --foreground: #F3FFEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Parkinsans", serif;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: "Itim", cursive;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    ;
    height: auto;
    padding: 20px;
    max-width: 100%;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
    padding-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--background);
    margin: 0;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

header.open {
    height: 400px;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: var(--foreground);
    width: 100%;
}

nav.open {
    display: flex;
    height: auto;
    margin-top: 20px;
}

nav a {
    display: none;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 28px;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    background-color: var(--background);
    color: white;
}

header img {
    display: none;
    position: relative;
    right: 270px;
    bottom: 565px;
    max-width: 100px;
    height: auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 130px;
    width: 100%;
    background-color: var(--background);
    text-align: center;
    z-index: 10;
    overflow: hidden;
}

footer p {
    color: white;
    align-items: center;
    font-size: 20px;
    margin: 5px 0;
    font-size: 18px;
}

button {
    height: 60px;
    width: 220px;
    font-size: 20px;
    color: white;
    background-color: #C8393B;
    border: none;
    border-radius: 20px;
}

button:hover {
    transform: scale(1.08);
}

form {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: auto;
    background-color: var(--foreground);
}

fieldset {
    border: 1px solid black;
    padding: 20px;
}

#menu {
    font-size: 2rem;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 210px;
    z-index: 10;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.open a {
    display: block;
}

.active {
    background-color: #BFD0B8;
}

.hero {
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: cover;
    object-position: center;
}

.foregrounddog,
.foregroundcat {
    position: absolute;
    height: auto;
}

.foregrounddog {
    width: 450px;
    top: 695px;
    left: 1060px;
    z-index: 3;
}

.foregroundcat {
    width: 420px;
    top: 950px;
    left: 1080px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
}

.info section {
    max-width: 100%;
    text-align: center;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background: var(--foreground);
    font-size: 20px;
}

.foregroundpets {
    display: none;
}

.sponser {
    display: flex;
    position: relative;
    bottom: 90px;
    left: 30px;
    width: 230px;
    height: 80px;
    padding: 20px;
    border: 1px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 5;
}

#pet-cards,
#pet-cards-fav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    grid-auto-rows: minmax(200px, auto);
}

.pet-card-css {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: var(--background);
    padding: 15px;
    border: 1px solid #BEBEBE;
    min-height: 500px;
    width: auto;
    height: auto;
    color: white;
}

.pet-card-css img {
    width: 100%;
    height: 250px;
    max-width: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.pet-card-css img:hover {
    transform: scale(1.03);
}

.pet-card-css p {
    padding: 3px;
    font-size: 17px;
}

.pet-card-css h2 {
    text-decoration: underline;
}

.pet-card-css h2,
p {
    margin-bottom: 10px;
}

.favorite-star {
    cursor: pointer;
    font-size: 24px;
    color: #F3FFEE;
    margin-left: 10px;
}

.favorite-star:hover {
    transform: scale(1.5);
}

.favorite-star.activestar {
    color: gold;
}

.favoritecss {
    position: absolute;
    font-size: 50px;
}

.emptymessagecss {
    display: flex;
    width: 300px;
    font-size: 35px;
    align-items: center;
    text-align: center;
}

.browsepets img {
    width: 250px;
    height: auto;
}

.browsepets {
    align-items: center;
    text-align: center;
}

.rating {
    font-size: 23px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.checkbox input[type=checkbox] {
    transform: scale(1.4);
    margin: 10px;
}

.checkboxhead {
    font-size: 15px;
    padding: 10px;
    font-style: italic;
}

.date,
.text,
.name {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.text select {
    margin-top: 10px;
    height: 30px;
}

.datehead {
    margin-bottom: 10px;
}

.namehead {
    margin-bottom: 10px;
}

input[type=submit] {
    width: 300px;
    height: 50px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.reviewmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.thankyou {
    padding: 20px;
    background-color: var(--background);
    max-width: 500px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.reviewh1 {
    text-decoration: underline;
}

#reviewtextarea {
    width: 100%;
}

.agreementmove {
    padding: 20px;
}

.agreementmove li {
    padding: 5px;
    font-weight: bold;
}

.indexmain {
    min-height: 140vh;
}

.removefavoritebutton {
    width: 250px;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
}