* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --backgroundcolor: #7674BF;
    --foregroundcolor: #403D95;
}

body {
    background-color: var(--backgroundcolor);
    font-family: "Itim", cursive;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
    min-height: 100vh;
    gap: 10px;
}

img {
    width: 100%;
    height: auto;
}

header {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    background-color: var(--foregroundcolor);
}

h1 {
    margin: auto 0;
    font-size: 55px;
    color: white;
}

h2 {
    padding: 10px;
}

section {
    flex-grow: 1;
    padding: 10px;
    min-height: 40rem;
}

p {
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    width: 100%;
    text-align: center;
    background-color: var(--foregroundcolor);
    color: white;
}

footer p{
    align-items: center;
    margin: 5px 0;
    font-size: 18px;
}

div {
    margin-top: 15px;
}

/* Class Selectors */

.data,
.weather {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 1.2rem;

}

.data {
    min-height: 12rem;
}

.sunicon {
    display: inline-block;
    width: 55px;
    height: auto;
}


/* Larger screen */
@media screen and (min-width: 1000px) {

    img,
    picture img {
        object-fit: cover;
    }

    .data,
    .weather {
        position: absolute;
        width: 20%;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.35);
        font-size: 1.5rem;
    }

    .data {
        top: 210px;
        left: 80px;
    }

    .weather {
        top: 700px;
        right: 100px;

    }

    .weather-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sunicon {
        display: none;
    }

    .weather-flex::after {
        content: "⛅";
        font-size: 2rem;
        display: inline-block;
        text-align: center;
    }
}